.LoadSpinner {
    height: 200px;
    width: 200px;
    top:100%;
    left:100%;
    transform : translate(-40%,-40%); 
    display: inline-block;
    position: relative;

}

.LoadSpinner img{
    height : 100%;
    width: 100%;
   object-fit: scale-down;
}