.socialImgDiv {
    padding-top :245px;
    transition: transform .2s; /* Animation */
}

.socialImg {
    border :  solid 4px black;
    border-radius: 25px;
    transition: transform .2s; /* Animation */
}

.socialImg:hover {
        cursor : pointer;
        transform: scale(1.1);
}