.galleryFontStyle {
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  font-weight:600;
  font-size: 4rem;
  text-align: center;
  position: relative;
  width:100%;
  height: 30vh;
  opacity: 0.8;
}

.galleryFontStyle span {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}