.fadeOut{
    animation-name: fadeout;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-direction: alternate;
  }

  .fadeIn {
    animation-name: fadein;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: alternate;
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .fadeIn:hover {
    cursor : pointer;
  }

  .fadeOut:hover {
    cursor : pointer;
  }

  .imageDimension  {
    height : 550px;
    width: auto;
    object-fit :cover; 
}

